        @import "null.scss";
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&700&display=swap');
        .header {
            background: center/contain no-repeat url("../img/header.jpg");
        }
        
        body {
            font-family: 'Roboto', sans-serif;
            color: #fff;
        }
        
        .line::after {
            content: '';
            position: absolute;
            background-color: #d7d7d7;
            width: 100%;
            bottom: 0px;
            height: 20px;
            left: 0;
        }
        
        .container {
            max-width: 1140px;
            margin: 0 auto;
        }
        
        .input {
            position: relative;
            @extend .line;
            $greyColor: hsl(0, 11%, 93%);
            .title {
                margin-bottom: 25px;
            }
            // .input__choose
            background: center / 100% no-repeat url('../img/bg2.jpg');
            &__choose {}
            .request {
                &>div {
                    text-align: center;
                    margin-bottom: 60px;
                }
                &__author {}
                padding-top: 40px;
                max-width: 800px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                &__count {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    input {
                        margin-bottom: 20px;
                    }
                }
                .inp {
                    max-width: 300px;
                    width: 100%;
                    padding: 10px 15px;
                    border: none;
                    border-radius: 6px;
                    background-color: $greyColor;
                    &::placeholder {
                        opacity: 0.7;
                        font-size: 14px;
                    }
                }
                &__title {}
                &__title-count {}
                &__title-lang {}
            }
            #lang {
                 :first-child {
                    display: none;
                }
                @extend .inp;
                color: grey;
                // padding: 5px 10px;
                // border-radius: 6px;
            }
            #count {
                margin-bottom: 30px;
            }
            .btn {
                padding: 10px 20px;
                border-radius: 6px;
                // background-color: #964b00;
                background-color: rgb(197, 162, 45);
                display: block;
            }
        }
        
        .out {
            height: 440px;
            font-size: 22px;
            background: center/ 100% url('../img/christmas-ge14d651f6_1920.jpg') no-repeat;
            .citate {
                padding-top: 139px;
            }
            .blockquote-3 {
                position: relative;
                text-align: center;
                width: 500px;
                margin: 0 auto;
                border: 2px solid #fff;
                border-radius: 20px;
                padding: 16px 24px;
                font-weight: 700;
                font-style: italic;
                background-color: #fff;
                color: #000;
            }
            .blockquote-3:before,
            .blockquote-3:after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
            }
            .blockquote-3::before {
                border: 14px solid transparent;
                border-top: 14px solid #efefef;
                border-bottom: 0;
                border-top-width: 25px;
                content: '';
                position: absolute;
                right: 40px;
                bottom: -25px;
                transform-origin: center;
                transform: rotate(90deg) skew(-25deg) translateY(17px);
            }
            .blockquote-3 cite {
                position: absolute;
                bottom: -66px;
                right: -42px;
                font-weight: bold;
                color: #fff;
            }
        }
        
        .course {}